{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Export UO pour Nexthink{% endblock%}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h3>Règles de définition des UO dans Nexthink</h3>
        <h4>Script XML à intégrer dans Nexthink</h4>
        <p>Séctionner le script XML ci-dessous et l'importer dans Nexthink, dans "Categories".</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <textarea name="" id="" cols="100" rows="50">
<?xml version="1.0" encoding="utf-16"?>
<Category SyntaxVersion="1">
  <Name>EMS - Code UO</Name>
  <Type>binary</Type>
  <Extra SyntaxVersion="1">
    <MinPrivileges>ANONYMOUS</MinPrivileges>
    <Description />
  </Extra>
  <Keywords>
    {% include "EVPOSaffectationBundle:Application:socle.xml.twig" %}
    {% for uo in listeUo %}
    <Keyword>
      <Name>{{uo.codeUo}}</Name>
      <Rank>{{loop.index}}</Rank>
      <Selector>select binary where binary.paths like "d:/appl/winapp32/{{uo.codeUo}}/*" OR binary.paths like "d:/appl/winappl/{{uo.codeUo}}/*"</Selector>
      <AutotagRules SyntaxVersion="1" DataModelVersion="8">
        <Conditions>
          <ObjectCondition IsTemplate="false">
            <Object>binary</Object>
            <Field>paths</Field>
            <Comparer>like</Comparer>
            <Value>"d:/appl/winapp32/{{uo.codeUo}}/*"</Value>
          </ObjectCondition>
          <ObjectCondition IsTemplate="false">
            <Object>binary</Object>
            <Field>paths</Field>
            <Comparer>like</Comparer>
            <Value>"d:/appl/winappl/{{uo.codeUo}}/*"</Value>
          </ObjectCondition>
        </Conditions>
        <LogicalExpression>1 OR 2</LogicalExpression>
      </AutotagRules>
    </Keyword>
    {% endfor %}
  </Keywords>
</Category>
        </textarea>
    </div>
</div>
{% endblock %}
