{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'poste.listeExclus'|trans }}{% endblock%}

{% block content %}
<h3>{{ 'poste.listeExclus'|trans }}</h3>

<div class="row">
    <div class="col-lg-6">
        <h4>Types existants</h4>
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr>
                    <td class="row">{{ 'poste.typeUsage'|trans }}</td>
                    <td class="row">{{ 'ctrl.nb'|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% for ligne in nbPosteUsage %}
                <tr>
                    <td>{{ligne.typeUsage}}</td>
                    <td>{{ligne.nb}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="col-lg-6">
        <h4>Types exclus</h4>
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr>
                    <td class="row">{{ 'poste.typeUsage'|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% for type in typeExclus %}
                <tr>
                    <td>{{type.typeUsage}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}
    