<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rémi LEBLOND">

    <title>MOCA : {% block title %}{{ 'Suivi de la migration'|trans }}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <!-- Bootstrap Core CSS -->

    {% stylesheets '@EVPOSaffectationBundle/Resources/public/css/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" /> {% endstylesheets %}
	<style>
	.nonMoca {
		text-decoration:line-through;
	}
	.ok {
		color: green;
	}
	
	.ko {
		color: red;
	}
	</style>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('evpos_accueil') }}" alt="{{'app.home'|trans}}">{{ 'app.name'|trans }}</a>
        </div>
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Utilisateurs, service et directions (source : BAZA)">Annuaire <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('evpos_listeUtil') }}">{{'utilisateur.liste'|trans}}</a></li>
                            <li><a href="{{ path('evpos_listeService') }}">{{'service.liste'|trans}}</a></li>
                            <li><a href="{{ path('evpos_listeDirection') }}">{{'direction.liste'|trans}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{path('evpos_updateDirServFromBAZA') }}">{{'baza.updateDS'|trans}}</a></li>
                            <li><a href="{{path('evpos_updateUtilFromBAZA') }}">{{'baza.updateUtil'|trans}}</a></li>
                            <li><a href="{{path('evpos_updateRiu') }}">{{'gap.updateRiu'|trans}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{path('evpos_listeCPI') }}">{{'cpi.export'|trans}}</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Applications et UO (source : SUAPP)">{{'patrimoine'|trans}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('evpos_listeAppli') }}">{{ 'applications.listeAppliUo'|trans }}</a></li>
                            <li><a href="{{ path('evpos_listeServiceAppli') }}">{{ 'applications.listeAppliService'|trans }}</a></li>
                            <li><a href="{{ path('evpos_listePoste') }}">{{ 'poste.liste'|trans }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('evpos_importPoste') }}">{{ 'poste.import'|trans }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('evpos_updateFromSUAPP') }}">{{ 'suapp.update'|trans }}</a></li>
                            <!--
                            <li><a href="{{ path('evpos_updateFromShareCan') }}">{{ 'sharecan.update'|trans }}</a></li>
                            -->
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Export de fichiers XML pour Nexthink">Usage <b class="caret"></b></a>
                        <ul class="dropdown-menu">
							<li><a href="{{ path('evpos_exportAppliNexthink') }}">{{'nexthink.exportAppli'|trans}}</a></li>
                            <li><a href="{{ path('evpos_exportUoNexthink') }}">{{'nexthink.exportUo'|trans}}</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Regroupements <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('evpos_listeEc') }}">Ensembles cohérents</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">XML Excel <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('evpos_exportService') }}">{{'service.liste'|trans}}</a></li>
                            <li><a href="{{ path('evpos_exportServiceRiu') }}">{{'RIU.liste'|trans}}</a></li>
                            <li><a href="{{ path('evpos_listeAppliXml') }}">{{'applications.liste'|trans}}</a></li>
                            <li><a href="{{ path('evpos_listeAppliUoXml') }}">{{'applications.listeAppliUo'|trans}}</a></li>
                            <li><a href="{{ path('evpos_listeServiceAppliXml') }}">{{'applications.listeAppliService'|trans}}</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="{{ path('evpos_indicateurs') }}">Indicateurs</a>
                    </li>
                </ul>

                <ul class="nav navbar navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if app.user %} {{ app.user.username }} {{'user.connected'|trans}} {% else %} {{'user.disconnected'|trans}} {% endif %}
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if app.user %}
                            <li><a href="{{ path('logout') }}">{{'user.disconnect'|trans}}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            {% else %}
                            <li><a href="{{ path('login') }}">{{'user.connect'|trans}}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{{ path('evpos_accueil') }}">{{'app.home'|trans}}</a>
                            </li>
                        </ul>
                    </li>
            </div>
        </div>

        </ul>
    </nav>

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                {% for message in app.session.flashbag.get('info') %}
                <div class="col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Information</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ message }}</p>           
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                    <p>Désolé, mais le contenu n'a pas encore été défini...</p>
                    {% endblock%}
                </div>
            </div>
        </div>
    </div>

    {% javascripts '@EVPOSaffectationBundle/Resources/public/js/jquery.js' filter='cssrewrite' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} {% javascripts '@EVPOSaffectationBundle/Resources/public/js/bootstrap.js' filter='cssrewrite' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} {% block javascripts %} {% endblock %}
</body>

</html>
