{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}UO {{uo.codeUo}}{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2>
            UO {{uo.codeUo}}
            (application <a href="{{path('evpos_ficheAppli', {'codeAppli': uo.appli.codeAppli})}}">{{uo.appli.codeAppli}}</a>)
        </h2>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Informations SUAPP</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-1"><h4>Code appli</h4><a href="{{path('evpos_ficheAppli', {'codeAppli': uo.appli.codeAppli})}}">{{uo.appli.codeAppli}}</a></div>
            <div class="col-lg-2"><h4>Code UO</h4>{{uo.codeUo}}</div>
            <div class="col-lg-2"><h4>Libellé UO</h4>{{uo.nomUo}}</div>
			<div class="col-lg-2">
				<h4>{{'application.aMigrer'|trans}}</h4>
                {% if uo.migMoca %}
                <span class="ok glyphicon glyphicon-ok"></span> Oui
                {% else %}
                <span class="ko glyphicon glyphicon-remove"></span> Non
                {% endif %}
			</div>
            <div class="col-lg-2">
				<h4>{{ 'uo.avancementMigMoca'|trans}}</h4>
                {{ uo.avancementMoca }}
                <br/>
                {{ uo.avancementMocaDetail}}
                <br/>
                {{ uo.noteAvancementMoca }}%
            </div>
            <div class="col-lg-1">
                <h4>Type de poste</h4>
                {{ uo.typePoste }}
            </div>
            <div class="col-lg-1">
                <h4>{{'uo.ancienCitrix'|trans}}</h4>
                {% if uo.ancienCitrix %}
                <span class="ok glyphicon glyphicon-ok"></span>
                {% else %}
                <span class="ko glyphicon glyphicon-remove"></span>
                {% endif %}
                {{ uo.ancienCitrixLong }}
            </div>
            <div class="col-lg-1">
                <h4>FIA</h4>
                {% if uo.enCours %}
                <a href="{{uo.lienFia}}" title="{{'uo.openFia'|trans}}">
                    <span class="glyphicon glyphicon-file"></span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-group panel-default" id="accordionService" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordionService" href="#collapseService" aria-expanded="true" aria-controls="collapseOne">
                {{'uo.services'|trans}}
            </a>
            <div class="badge">{{uo.listeServiceAcces|length}}</div>
        </h3>
    </div>
    <div id="collapseService" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                    <tr>
                        <td class="row">{{ 'service.code'|trans }}</td>
                        <td class="row">{{ 'service.nom'|trans }}</td>
                        <td class="row">{{ 'direction.nom'|trans }}</td>
                        <td class="row">{{ 'direction.nom'|trans }}</td>
                    </tr>
                </thead>
                <tbody>
                {% for accesServ in uo.listeServiceAcces %}
                <tr>
                    <td>
                        <a href="{{ path('evpos_ficheService', { 'codeService' : accesServ.serviceAcces.codeService }) }}" alt="{{ 'service.nom'|trans }}">
                        {{ accesServ.serviceAcces.codeService}}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('evpos_ficheService', { 'codeService' : accesServ.serviceAcces.codeService }) }}" alt="{{ 'service.nom'|trans }}">
                        {{ accesServ.serviceAcces.libService}}
                        </a>
                    </td>
                    <td>
                        <a href="{{path('evpos_ficheDirection', {'codeDirection': accesServ.serviceAcces.direction.codeDirection})}}">
                        {{ accesServ.serviceAcces.direction.codeDirection}}
                        </a>
                    </td>
                    <td>
                        <a href="{{path('evpos_ficheDirection', {'codeDirection': accesServ.serviceAcces.direction.codeDirection})}}">
                        {{ accesServ.serviceAcces.direction.libDirection}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-group panel-default" id="accordionUtils" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordionUtils" href="#collapseUtil" aria-expanded="true" aria-controls="collapseOne">
                {{'uo.utils'|trans}}
            </a>
            <div class="badge">{{uo.listeAcces|length}}</div>
        </h3>
    </div>
    <div id="collapseUtil" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                    <tr>
                        <td class="row">{{ 'direction.nom'|trans }}</td>
                        <td class="row">{{ 'service.nom'|trans }}</td>
                        <td class="row">{{ 'utilisateur.matricule'|trans }}</td>
                        <td class="row">{{ 'utilisateur.nom'|trans }}</td>
                    </tr>
                </thead>
                <tbody>
                {% for acces in uo.listeAcces %}
                <tr>
                    <td class="row">
                        {% if (acces.utilAcces.serviceUtil and acces.utilAcces.serviceUtil.direction) %}
                        <a href="{{path('evpos_ficheDirection', {'codeDirection': acces.utilAcces.serviceUtil.direction.codeDirection})}}">
                            {{ acces.utilAcces.serviceUtil.direction.codeDirection }} : {{ acces.utilAcces.serviceUtil.direction.libDirection }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="row">
                        {% if acces.utilAcces.serviceUtil %}
                        <a href="{{ path('evpos_ficheService', { 'codeService' : acces.utilAcces.serviceUtil.codeService }) }}" alt="{{ 'service.nom'|trans }}">
                            {{ acces.utilAcces.serviceUtil.codeService }} : {{ acces.utilAcces.serviceUtil.libService }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="row"><a href="{{path('evpos_ficheUtil', {'matUtil': acces.utilAcces.matUtil})}}">{{ acces.utilAcces.matUtil }}</a></td>
                    <td class="row">{{ acces.utilAcces.nomUtil }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-group panel-default" id="accordionPostes" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordionPostes" href="#collapsePoste" aria-expanded="true" aria-controls="collapseOne">
                {{'uo.postes'|trans}}
            </a>
            <div class="badge">{{uo.listePostes|length}}</div>
        </h3>
    </div>
    <div id="collapsePoste" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                    <tr>
                        <td class="row">{{ 'poste.codeMateriel'|trans }}</td>
                        <td class="row">{{ 'poste.hostname'|trans }}</td>
                        <td class="row">{{ 'poste.categorie'|trans }}</td>
                        <td class="row">{{ 'poste.modele'|trans }}</td>
                        <td class="row">{{ 'poste.statut'|trans }}</td>
                        <td class="row">{{ 'poste.service'|trans }}</td>
                        <td class="row">{{ 'poste.utilisateurs'|trans }}</td>
                        <td class="row">{{ 'poste.uo'|trans }}</td>
                        <td class="row">{{ 'poste.licenceW8'|trans }}</td>
                        <td class="row">{{ 'poste.commentaire'|trans }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for poste in uo.listePostes %}
                    <tr class="gradeA odd">
                        <td class="">{{poste.codeMateriel }}</td>
                        <td class=""><a href="{{path('evpos_fichePoste', {'hostname': poste.hostname})}}">{{poste.hostname }}</a></td>
                        <td class="">{{poste.categorieCourt }}</td>
                        <td class="">{{poste.modele }}</td>
                        <td class="">{{poste.statut }}</td>
                        <td class=""></td>
                        <td class="">
                        <ul>
                        {% for util in poste.listeUtilisateurs %}
                            <li>
                                <a href="{{path('evpos_ficheUtil', {'matUtil': util.matUtil})}}">{{util.matUtil}}</a> : {{util.nomUtil}}
                            </li>
                        {% endfor %}
                        </ul>
                        </td>
                        <td>
                        <ul>
                        {% for uo in poste.listeUo %}
                            <li>
                                <a href="{{ path('evpos_ficheAppli', { 'codeAppli': uo.appli.codeAppli }) }}">
                                {{ uo.appli.codeAppli }}
                                </a>
                                :
                                <a href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}">
                                {{ uo.codeUo }}
                                </a>- {{ uo.nomUo }}</li>
                        {% endfor %}
                        </ul>
                        </td>
                        <td><span class="{{poste.licenceW8Icon}}"></span> {{ poste.licenceW8Long}}</td>
                        <td>{{ poste.commentaire }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
