{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Application {{appli.codeAppli}}{% endblock%}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <h2>Applications {{appli.codeAppli}}</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-lg btn-default">{{ 'nexthink.import'|trans }}</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'suapp.info'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2"><h4>{{ 'application.code'|trans }}</h4>{{appli.codeAppli}}</div>
            <div class="col-lg-4"><h4>{{ 'application.nom'|trans }}</h4>{{appli.nomAppli}}</div>
            <div class="col-lg-6"><h4>{{ 'application.desc'|trans }}</h4>{{appli.descAppli}}</div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'application.listeUo'|trans }}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr>
                    <td class="row sorting_asc">{{ 'uo.code'|trans }}</td>
                    <td class="row">{{ 'uo.nom'|trans }}</td>
                    <td class="row">{{ 'uo.migMoca'|trans }}</td>
                    <td class="row">{{ 'uo.avancementMigMoca'|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% for uo in appli.listeUo %}
                <tr class="gradeA odd">
                    <td class=""><a href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}">{{uo.codeUO }}</a></td>
                    <td class="">{{uo.nomUO}}</td>
                    <td>{{ uo.migMocaLong }}</td>
                    <td class="">{{uo.avancementMoca}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'application.utils'|trans }} - <b>{{ appli.listeAcces| length  }}</b></h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                
                <tr>
                    <td class="row">{{ 'utilisateur.matricule'|trans }}</td>
                    <td class="row">{{ 'utilisateur.nom'|trans }}</td>
                    <td class="row">{{ 'service.nom'|trans }}</td>
                    <td class="row">{{ 'direction.nom'|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% for acces in appli.listeAcces %}
                <tr>
                    <td class="row">{{ acces.utilAcces.matUtil }}</td>
                    <td class="row">{{ acces.utilAcces.nomUtil }}</td>
                    <td class="row">
                        {% if acces.utilAcces.serviceUtil %}
                        {{ acces.utilAcces.serviceUtil.libService }}
                        {% endif %}
                    </td>
                    <td class="row">
                        {% if (acces.utilAcces.serviceUtil and acces.utilAcces.serviceUtil.direction) %}
                        {{ acces.utilAcces.serviceUtil.direction.libDirection }}
                        {% endif %}
                    </td>
                    
                    <td class="row"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}
