{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h4>{{ 'applications.liste'|trans }}</h4>
    </div>
    <div class="col-lg-4">
        <a href="{{ path('evpos_listeAppliXml')}}" class="btn btn-sm btn-default">{{'applications.liste'|trans}}</a>
        <a href="{{ path('evpos_listeAppliUoXml')}}" class="btn btn-sm btn-default">{{'applications.listeAppliUo'|trans}}</a>
    </div>
</div>
<table class="table table-striped table-bordered table-hover dataTable no-footer">
    <thead>
        <tr>
            <td class="row sorting_asc" rowspan="2">{{ 'application.code'|trans }}</td>
            <td class="row" rowspan="2">{{ 'application.nom'|trans }}</td>
            <td class="row" rowspan="2">{{ 'application.nature'|trans }}</td>
            <td class="row" rowspan="2">{{ 'application.service'|trans }}</td>
            <td class="row" rowspan="2">{{ 'application.listeUoMig'|trans }}</td>
             <td class="row" rowspan="2">{{ 'application.cpi'|trans }}</td>
            <td class="row" rowspan="2">{{ 'application.dispoMoca'|trans }}</td>
            <td class="row" colspan="2">{{ 'application.nbUtil'|trans }}</td>
        </tr>

    </thead>
    <tbody>
        {% for appli in listeAppli %}
        <tr class="gradeA odd">
            <td class=""><a href="{{ path('evpos_ficheAppli', { 'codeAppli': appli.codeAppli }) }}">{{appli.codeAppli }}</a></td>
            <td class="">{{appli.nomAppli }}</td>
            <td class="">{{appli.natAppliLong }}</td>
            <td class="">
                {% if appli.serviceAppli %}
                    <a href="{{ path('evpos_ficheService', { 'codeService' : appli.serviceAppli.codeService }) }}">
                    {{appli.serviceAppli.libService}}
                    </a>
                {% endif %}
            </td>
            <td>
                <ul>
                    {% for uo in appli.listeUo %}
                    <li {% if uo.migMoca != true %}class="nonMoca"{% endif %}>
                        <a title="{{uo.avancementMoca}}" href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}">
                            <span class="{{uo.avancementMocaIcon}}"></span>
                            {{uo.codeUO }}
                        </a> : {{ uo.nomUo }}
                        {% if uo.enCours %}
                        <a href="{{uo.lienFia}}" title="{{'uo.openFia'|trans}}">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {% if appli.cpi %}
                    {{appli.cpi.nomUtil}}
                {% endif %}
            </td>
            <td>
                {% if appli.dispoMoca %}
                    <span class="ok glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="ko glyphicon glyphicon-remove"></span> 
                {% endif %}
                {{appli.dispoMocaLong}}
            </td>
            <td>{{appli.nbAcces}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}
