{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h4>{{'applications.listeAppliService'|trans}}</h4>
    </div>
    <div class="col-lg-6">
        <a href="{{ path('evpos_listeServiceAppliXml') }}" class="btn btn-sm btn-default" target="_blank">
          <span class="glyphicon glyphicon-export"></span>
          {{'applications.listeAppliService'|trans}}
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-11">
        <table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
            <thead>
                <tr>
                    <td class="row">{{ 'direction.code'|trans }}</td>
                    <td class="row">{{ 'direction.nom'|trans }}</td>
                    <td class="row">{{ 'service.code'|trans }}</td>
                    <td class="row">{{ 'service.nom'|trans }}</td>
                    <td class="row">{{ 'service.nbAgent'|trans }}</td>
                    <td class="row">{{ 'applications.liste'|trans }}</td>
                    <td class="row">{{ 'service.noteAvancement'|trans}}</td>
                </tr>
            </thead>
            <tbody>
                {% for direction in listeDirServAppli %}
                    {% for service in direction.listeServices %}
                        <tr>
                            <td>
                                <a href="{{ path('evpos_ficheDirection', { 'codeDirection' : direction.codeDirection }) }}">
                                    {{ direction.codeDirection }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('evpos_ficheDirection', { 'codeDirection' : direction.codeDirection }) }}">
                                {{ direction.libDirection }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                                {{ service.codeService }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                                {{ service.libService }}
                                </a>
                            </td>
                            <td>
                                {{ service.listeUtilisateurs|length }}
                            </td>
                            <td>
                                {% for acces in service.listeAcces %}
                                    <p>
                                        <span
                                            {% if acces.appliAcces.dispoMoca %}
                                                class="ok glyphicon glyphicon-ok"
                                            {% else %}
                                                class="ko glyphicon glyphicon-remove"
                                            {% endif %}
                                        ></span>
                                        <a href="{{ path('evpos_ficheAppli', { 'codeAppli' : acces.appliAcces.codeAppli }) }}"
                                           title="{{ acces.appliAcces.nomAppli }}"
                                        >
                                            {{ acces.appliAcces.codeAppli }}
                                        </a> - {{ acces.appliAcces.natAppli }}
                                    </p>
                                {% endfor %}
                            </td>
                            <td>
                              <progress value="{{service.noteAvancementMoca}}" max="100" title="{{service.noteAvancementMoca}}%">
                                {{service.noteAvancementMoca}}
                              </progress>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
