{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}
  Secteur {{secteur.codeSecteur}}
{% endblock%}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Informations générales</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
              <h4>{{'secteur.code'|trans}}</h4>
              {{secteur.codeSecteur}}
            </div>
            <div class="col-lg-4">
              <h4>{{'secteur.nom'|trans}}</h4>
              {{secteur.libSecteur}}
            </div>
            <div class="col-lg-2">
              <h4>{{'secteur.noteAvancement'|trans}}</h4>
              <progress value="{{secteur.noteAvancementMoca}}" max="100" title="{{secteur.noteAvancementMoca}}%">
                {{secteur.noteAvancementMoca}}%
              </progress>
              <br>
              {{secteur.noteAvancementMoca}}%
            </div>
        </div>
    </div>
</div>

<script>
  function showAiTodo() {
    $('#tabAI').find('tbody').find('tr').show();
    $('#tabAI').find('tr.done').hide();
  }
  function showAiAll() {
    $('#tabAI').find('tbody').find('tr').show();
    $('#tabAI').find('tr').show();
  }
  function showAiOk() {
    $('#tabAI').find('tbody').find('tr').hide();
    $('#tabAI').find('tr.done').show();
  }
</script>

<div class="panel panel-group panel-default" id="accordionAI" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
        <a role="button" data-toggle="collapse" data-parent="#accordionAI" href="#collapseAI" aria-expanded="true" aria-controls="collapseOne">
          <h3 class="panel-title">{{'secteur.listeAppliInfo'|trans}} <div class="badge">{{secteur.listeAppliInfo|length}}</div></h3>
        </a>
    </div>
    <div id="collapseAI" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        <table id="tabAI" class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
              <tr>
                <td class="row">{{'application.code'|trans}}</td>
                <td class="row">{{'application.nom'|trans}}</td>
                <td class="row">{{'application.nature'|trans}}</td>
                <td class="row">{{'application.nbUtil'|trans}}</td>
                <td class="row">
                  {{'application.noteAvancement'|trans}}
                  <br>
                  <button type="button" onclick="showAiAll()" title="{{'app.all'|trans}}">
                    {{'app.all'|trans}}
                  </button>
                  <button type="button" onclick="showAiTodo()" title="{{'app.todo'|trans}}">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                  <button type="button" onclick="showAiOk()" title="{{'app.ok'|trans}}">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </td>
                <td class="row">{{'application.listeUo'|trans}}</td>
              </tr>
            </thead>
            <tbody>
              {% for appli in secteur.listeAppliInfo | sort %}
              <tr class="{% if appli.noteAvancementMoca == 100 or appli.noteAvancementMoca == null%}done{%endif%}">
                  <td class="gradeA odd">
                      <a href="{{ path('evpos_ficheAppli', { 'codeAppli': appli.codeAppli }) }}">
                      {{appli.codeAppli}}
                      </a>
                  </td>
                  <td class="gradeA odd">{{appli.nomAppli}}</td>
                  <td class="gradeA odd">{{appli.natAppli}}</td>
                  <td class="gradeA odd">{{appli.listeAcces | length}}</td>
                  <td class="gradeA odd">
                    <progress max="100" value="{{appli.noteAvancementMoca}}" title="{{appli.noteAvancementMoca}}%">
                      {{appli.noteAvancementMoca}}%
                    </progress>
                  </td>
                  <td class="gradeA odd">
                    <table>
                      {% for uo in appli.listeUo%}
                        <tr class="{% if uo.migMoca != true %}nonMoca{% endif %}">
                          <td>
                            <span class="{{uo.avancementMocaIcon}}"></span>
                          </td>
                          <td>
                            <a href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}">{{uo.codeUO }}</a>
                          </td>
                          <td>
                            {% if uo.migMoca == true %}
                            <progress value="{{uo.noteAvancementMoca}}" max="100">{{uo.noteAvancementMoca}}%</progress>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>

<script>
  function showAsTodo() {
    $('#tabAS').find('tbody').find('tr').show();
    $('#tabAS').find('tr.done').hide();
  }
  function showAsAll() {
    $('#tabAS').find('tbody').find('tr').show();
    $('#tabAS').find('tr').show();
  }
  function showAsOk() {
    $('#tabAS').find('tbody').find('tr').hide();
    $('#tabAS').find('tr.done').show();
  }
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" data-toggle="collapse" data-parent="#accordionAS" href="#collapseAS" aria-expanded="true" aria-controls="collapseOne">
          <h3 class="panel-title">{{'secteur.listeAppliService'|trans}} <div class="badge">{{secteur.listeAppliService|length}}</div></h3>
        </a>
    </div>
    <div id="collapseAS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table id="tabAS" class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
              <tr>
                <td class="row">{{'application.code'|trans}}</td>
                <td class="row">{{'application.nom'|trans}}</td>
                <td class="row">{{'application.nature'|trans}}</td>
                <td class="row">
                  {{'application.noteAvancement'|trans}}
                  <br>
                  <button type="button" onclick="showAsAll()" title="{{'app.all'|trans}}">
                    {{'app.all'|trans}}
                  </button>
                  <button type="button" onclick="showAsTodo()" title="{{'app.todo'|trans}}">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                  <button type="button" onclick="showAsOk()" title="{{'app.ok'|trans}}">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </td>
                <td class="row">{{'application.listeUo'|trans}}</td>
              </tr>
            </thead>
            <tbody>
              {% for appli in secteur.listeAppliService | sort %}
              <tr class="{% if (appli.noteAvancementMoca == 100 or appli.noteAvancementMoca == null )%}
                          done
                         {%endif%}">
                  <td class="gradeA odd">
                      <a href="{{ path('evpos_ficheAppli', { 'codeAppli': appli.codeAppli }) }}">
                      {{appli.codeAppli}}
                      </a>
                  </td>
                  <td class="gradeA odd">{{appli.nomAppli}}</td>
                  <td class="gradeA odd">{{appli.natAppli}}</td>
                  <td class="gradeA odd">
                    <progress max="100" value="{{appli.noteAvancementMoca}}" title="{{appli.noteAvancementMoca}}%">
                      {{appli.noteAvancementMoca}}%
                    </progress>
                  </td>
                  <td class="gradeA odd">
                    <table>
                    {% for uo in appli.listeUo%}
                      <tr class="{% if uo.migMoca != true %}nonMoca{% endif %}">
                        <td>
                          <span class="{{uo.avancementMocaIcon}}"></span>
                        </td>
                        <td>
                          <a href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}">{{uo.codeUO }}</a>
                        </td>
                        <td>
                          {% if uo.migMoca == true %}
                          <progress value="{{uo.noteAvancementMoca}}" max="100">{{uo.noteAvancementMoca}}%</progress>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    </table>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
