{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'service.treeView'|trans }}{% endblock%}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
google.charts.load('current', {'packages':['treemap']});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Service', 'Parent', 'Nb poste', 'Avancement'],
    ['Eurométropole',    null,   0,                               0],
    {% for direction in listeDirection %}
    ['{{direction.codeDirection}}', 'Eurométropole', {{0+direction.nbPoste}}, {{0+direction.noteAvancementMoca}}],
    {% endfor %}
    {% for service in listeService %}
    ['s_{{service.codeService}}', '{% if service.direction %}{{service.direction.codeDirection}}{%else%}?{% endif %}', {{0+service.nbPoste}}, {{0+service.noteAvancementMoca}}],
    {% endfor %}

  ]);

  tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

  tree.draw(data, {
    minColor: '#f00',
    midColor: '#ddd',
    maxColor: '#0d0',
    headerHeight: 15,
    fontColor: 'black',
    showScale: true
  });

}
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'service.treeView'|trans }}</h3>
  </div>
  <div class="panel-body">
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
  </div>
</div>
{% endblock %}
