{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'ctrl.appliSansFia'|trans }}{% endblock%}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h4>{{ 'ctrl.appliSansFia'|trans }}</h4>
  </div>
</div>
<table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
  <thead>
    <th>{{'application.code'|trans}}</th>
    <th>{{'application.nom'|trans}}</th>
    <th>{{'application.cpi'|trans}}</th>
    <th>{{'uo.code'|trans}}</th>
    <th>{{'uo.nom'|trans}}</th>
    <th>{{'uo.services'|trans}}</th>
  </thead>
  <tbody>
    {% for uo in listeUO %}
    <tr>
      <td>
        <a href="{{ path('evpos_ficheAppli', { 'codeAppli': uo.appli.codeAppli }) }}">
          {{uo.appli.codeAppli}}
        </a>
      </td>
      <td>{{uo.appli.nomAppli}}</td>
      <td>
        {% if uo.appli.cpi %}
          {{uo.appli.cpi.nomUtil}}
        {% endif %}
      </td>
      <td>
        <a href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}">
          {{uo.codeUo}}
        </a>
      </td>
      <td>{{uo.nomUo}}</td>
      <td>
        <table>
          {% for acces in uo.listeServiceAcces %}
          <tr>
            <td>{{acces.serviceAcces.codeService}}</td>
            <td>{{acces.serviceAcces.libService}}</td>
            <td>{{acces.serviceAcces.numEnsemble</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
