{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h4>{{ 'ctrl.absentService'|trans }}</h4>
  </div>
</div>
<table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
  <thead>
    <tr>
      <th>
        {{'poste.hostname'|trans}}
      </th>
      <th>
        {{'poste.typeReseau'|trans}}
      </th>
      <th>
        {{'poste.typeReseauReel'|trans}}
      </th>
      <th>
        {{'ctrl.erreur'|trans}}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for poste in listePoste %}
    <tr>
      <td>
        {{poste.hostname}}
      </td>
      <td>
        {{poste.typeReseau}}
      </td>
      <td>
        {{poste.typeReseauReel}}
      </td>
      <td>
        {% if poste.typeReseau != poste.typeReseauReel %}
         &#9888; 
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
