{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h4>{{ 'ctrl.posteInconnu'|trans }}</h4>
  </div>
</div>
<table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
  <thead>
    <tr>
      <td class="row sorting_asc">{{ 'poste.hostname'|trans }}</td>
      <td class="row sorting_asc">{{ 'ctrl.nb'|trans }}</td>
    </tr>

  </thead>
  <tbody>
    {% for poste in listePosteInconnu %}
    <tr class="gradeA odd">
      <td>{{poste.hostname}}</td>
      <td>{{poste.nb}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}
