{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h4>{{ 'ctrl.serviceInconnu'|trans }}</h4>
  </div>
</div>
<table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
  <thead>
    <tr>
      <td class="row sorting_asc">{{ 'service.codeSirh'|trans }}</td>
      <td class="row sorting_asc">{{ 'service.code'|trans }}</td>
      <td class="row sorting_asc">{{ 'ctrl.remarque'|trans }}</td>
    </tr>

  </thead>
  <tbody>
    {% for erreur in listeErreur %}
    <tr class="gradeA odd">
      <td>{{erreur.codeSirh}}</td>
      <td>{{erreur.codeService}}</td>
      <td>
        {{erreur.remarque}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}
