{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Direction {{direction.codeDirection}}{% endblock%}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information annuaire</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2"><h4>Code direction</h4>{{direction.codeDirection}}</div>
            <div class="col-lg-4"><h4>Nom direction</h4>{{direction.libDirection}}</div>
            <div class="col-lg-2">
              <h4>Nombre agents</h4>
              {{direction.nbAgent}}
            </div>
            <div class="col-lg-2">
              <h4>Nombre postes</h4>
              {{direction.nbPoste}}
            </div>
            <div class="col-lg-2">
              <h4>{{'direction.noteAvancement'|trans}}</h4>
              <progress value="{{direction.noteAvancementMoca}}" max="100" title="{{direction.noteAvancementMoca}}%">
                {{direction.noteAvancementMoca}}%
              </progress>
              <br>
              {{direction.noteAvancementMoca}}%
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Liste des services</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
            <thead>
                <tr>
                    <td>Code service</td>
                    <td>Nom service</td>
                    <td>{{'service.nbAgent'|trans}}</td>
                    <td>{{'service.nbPoste'|trans}}</td>
                    <td>{{'service.noteAvancement'|trans}}</td>
                    <td>{{ 'service.numEnsemble'|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% for service in direction.listeServices %}
                <tr>
                    <td class="gradeA odd">
                        {% if service.codeService != '' %}
                        <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                            {{service.codeService }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="gradeA odd">{{service.libService}}</td>
                    <td class="gradeA odd">{{service.nbAgent}}</td>
                    <td class="gradeA odd">{{service.listePostes|length}}</td>
                    <td class="gradeA odd">
                      <progress value="{{service.noteAvancementMoca}}" max="100" title="{{service.noteAvancementMoca}}%">
                        {{service.noteAvancementMoca}}
                      </progress>
                    </td>
                    <td class="gradeA odd">{{service.numEnsemble}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
