{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Utilisateur {{util.matUtil}}{% endblock%}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2>Utilisateur {{util.matUtil}}</h2>
  </div>
  <div class="col-lg-6">
    <a target="_blank" href="{{path('evpos_exportDirServUtilUoXml_util', {'matUtil': util.matUtil})}}" class="btn btn-default">
      <span class="glyphicon glyphicon-export"></span>
      {{'xml.export'|trans}}
    </a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'utilisateur.infoAnnuaire'|trans }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-2"><h4>{{ 'utilisateur.matricule'|trans }}</h4>{{util.matUtil}}</div>
      <div class="col-lg-2">
        <h4>{{ 'utilisateur.nom'|trans }}</h4>
        {{util.nomUtil}}
        {% if util.niveauVIP %}
        <span class="glyphicon glyphicon-certificate important">{{ util.niveauVIP }}</span>
        {% endif %}
      </div>
      <div class="col-lg-3">
        <h4>{{ 'service.nom'|trans }}</h4>
        {% if util.serviceUtil %}
        <a href="{{ path('evpos_ficheService', { 'codeService' : util.serviceUtil.codeService }) }}">
          {{util.serviceUtil.codeService}} : {{util.serviceUtil.libService}}
        </a>
        {% endif %}
      </div>
      <div class="col-lg-3">
        <h4>{{ 'direction.nom'|trans }}</h4>
        {% if util.serviceUtil %}
        <a href="{{path('evpos_ficheDirection', {'codeDirection': util.serviceUtil.direction.codeDirection})}}">
          {{util.serviceUtil.direction.codeDirection }} : {{util.serviceUtil.direction.libDirection }}
        </a>
        {% endif %}
      </div>
      <div class="col-lg-2">
        <h4>{{ 'utilisateur.lastLogin'|trans }}</h4>
        {{util.lastLogin|date("d/m/Y") }} <br>
        <span
        {% if util.ageLogin > 365 %}
        class="ko"
        {% endif %}
        >{{util.ageLogin}} jours</span>
      </div>
    </div>
  </div>

  <div class="panel panel-group panel-default" id="accordionAppli" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordionAppli" href="#collapseAppli" aria-expanded="true" aria-controls="collapseOne">
          {{ 'applications.listeUsage'|trans }}
          <div class="badge">{{util.listeAcces|length}}</div>
        </a>
      </h3>
    </div>
    <div id="collapseAppli" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
          <thead>
            <tr>
              <td class="row">{{ 'application.code'|trans }}</td>
              <td class="row">{{ 'application.nom'|trans }}</td>
              <td class="row">{{ 'app.source'|trans }}</td>
              <td class="row">{{ 'application.noteAvancement'|trans}}</td>
            </tr>
          </thead>
          <tbody>
            {% for acces in util.listeAcces %}
            <tr>
              <td class="gradeA odd">
                <a href="{{ path('evpos_ficheAppli', { 'codeAppli': acces.appliAcces.codeAppli }) }}">
                  {{ acces.appliAcces.codeAppli }}
                </a>
              </td>
              <td class="gradeA odd">{{ acces.appliAcces.nomAppli }}</td>
              <td class="gradeA odd">{{ acces.sourceImport }}</td>
              <td class="gradeA odd"><progress value="{{ acces.appliAcces.noteAvancementMoca}}" max="100" title="{{ acces.appliAcces.noteAvancementMoca}}%">{{ acces.appliAcces.noteAvancementMoca}}</progress></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-group panel-default" id="accordionUo" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordionUo" href="#collapseUo" aria-expanded="true" aria-controls="collapseOne">
          {{ 'uo.listeUsage'|trans }}
          <div class="badge">{{util.listeAccesUo|length}}</div>
        </a>
      </h3>
    </div>
    <div id="collapseUo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
          <thead>
            <tr>
              <td class="row" >{{ 'uo.code'|trans }}</td>
              <td class="row" >{{ 'uo.nom'|trans }}</td>
              <td class="row" >{{ 'uo.migMoca'|trans }}</td>
              <td class="row" >{{ 'uo.avancementMigMoca'|trans }}</td>
              <td class="row" >{{ 'uo.noteAvancement'|trans}}</td>
              <td class="row" >{{ 'app.source'|trans }}</td>
            </tr>

          </thead>
          <tbody>
            {% for acces in util.listeAccesUo %}
            <tr class="gradeA odd {% if acces.uoAcces.migMoca != true %}nonMoca{% endif %}">
              <td class="gradeA odd">
                <a href="{{ path('evpos_ficheUo', { 'codeUo': acces.uoAcces.codeUo }) }}">
                  {{ acces.uoAcces.codeUo }}
                </a>
              </td>
              <td class="gradeA odd">{{ acces.uoAcces.nomUo }}</td>
              <td class="gradeA odd">{{ acces.uoAcces.migMocaLong }}</td>
              <td class="gradeA odd">
                <span class="{{acces.uoAcces.avancementMocaIcon}}"></span>
                {{ acces.uoAcces.avancementMoca }}
              </td>
              <td class="gradeA odd">
                <progress value="{{ acces.uoAcces.noteAvancementMoca }}" max="100" title="{{ acces.uoAcces.noteAvancementMoca }}%">
                  {{ acces.uoAcces.noteAvancementMoca }}
                </progress>
              </td>
              <td class="gradeA odd">{{ acces.sourceImport }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'poste.listeUsage'|trans }} <div class="badge">{{util.listePostes|length}}</div></h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
          <tr>
            <td class="row">{{'poste.hostname'|trans}}</td>
            <td class="row">{{'poste.utilisateurs'|trans}}</td>
            <td class="row">{{'poste.categorie'|trans}} <br> <i>{{'poste.typeUsage'|trans}}</i></td>
            <td class="row">{{'poste.avancementMigMoca'|trans}}</td>
            <td class="row">{{'poste.modele'|trans}}</td>
            <td class="row">{{'poste.ecran'|trans}}</td>
            <td class="row">{{'poste.uo'|trans }}</td>
            <td class="row">{{'poste.localisation'|trans}}</td>
            <td class="row">{{'poste.commentaire'|trans}}</td>
          </tr>
        </thead>
        <tbody>
          {% for poste in util.listePostes %}
          <tr class="gradeA odd">
            <td><a href="{{path('evpos_fichePoste', {'hostname': poste.hostname})}}">{{poste.hostname}}</a></td>
            <td>
              {% for util in poste.listeUtilisateurs %}
              <a href="{{path('evpos_ficheUtil', {'matUtil': util.matUtil})}}">{{util.matUtil}}</a> : {{util.nomUtil}}
              {% endfor %}
            </td>
            <td>
              {{poste.categorie}}
              <br>
              <i>{{poste.typeUsage}}</i>
            </td>
            <td>{{poste.avancementMigMoca}}</td>
            <td>{{poste.modele}}</td>
            <td>
              {% for ecran in poste.listeEcran %}
              {{ecran}}
              {% endfor %}
            </td>
            <td>
              {% for uo in poste.listeUo %}
              <li class="{% if uo.migMoca != true %}nonMoca{% endif %}">
                <span class="{{uo.avancementMocaIcon}}"></span>
                <a href="{{ path('evpos_ficheAppli', { 'codeAppli': uo.appli.codeAppli }) }}">
                  {{ uo.appli.codeAppli }}
                </a>
                :
                <a href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}">
                  {{ uo.codeUo }}
                </a>- {{ uo.nomUo }}</li>
                {% endfor %}
              </td>
              <td>{{poste.localisation}}</td>
              <td>{{poste.commentaire|raw}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="panel panel-group panel-default" id="accordionPrinter" role="tablist" aria-multiselectable="true">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordionPrinter" href="#collapsePrinter" aria-expanded="true" aria-controls="collapseOne">
            {{ 'imprimante.liste'|trans }} <div class="badge">{{util.listeImprimantes|length}}</div>
          </a>
        </h3>
      </div>
      <div id="collapsePrinter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
            <thead>
              <tr>
                <td class="row">{{'imprimante.hostname'|trans}}</td>
              </tr>
            </thead>
            <tbody>
              {% for imprimante in util.listeImprimantes %}
              <tr class="gradeA odd">
                <td>{{imprimante.hostname}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {%endblock%}
