{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Service {{service.codeService}}{% endblock%}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <h2>Service {{service.codeService}}</h2>
    </div>
    <div class="col-lg-6">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Informations annuaire</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3"><h4>Code service</h4>{{service.codeService}}</div>
            <div class="col-lg-3"><h4>Nom service</h4>{{service.libService}}</div>
            <div class="col-lg-3">
                <h4>Direction</h4>
                <a href="{{path('evpos_ficheDirection', {'codeDirection': service.direction.codeDirection})}}">{{service.direction.codeDirection}} : {{service.direction.libDirection}}</a>
            </div>
            <div class="col-lg-3">
                <h4>{{'riu.nom'|trans}}</h4>
                <ul>
                {% for riu in service.listeRiu %}
                    <li>{{ riu.nomUtil }}</li>
                {% endfor %}
                </li>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <a role="button" data-toggle="collapse" data-parent="#accordionAppliService" href="#collapseAppliService" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="panel-title">Applications gérées <div class="badge">{{service.listeAppliService|length}}</div></h3>
                </a>
            </div>
        </div>
    </div>
    <div id="collapseAppliService" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                    <tr>
                        <td class="row">Code Appli</td>
                        <td class="row">Libellé</td>
                        <td class="row">Nombre d'accès</td>
                        <td class="row">Nombre d'utilisateur</td>
                        <td class="row">Nombre validé</td>
                    </tr>
                </thead>
                <tbody>
                    {% for appli in service.listeAppliService %}
                    <tr>
                        <td class="gradeA odd">
                            <a href="{{ path('evpos_ficheAppli', { 'codeAppli': appli.codeAppli }) }}">
                            {{appli.codeAppli}}
                            </a>
                        </td>
                        <td class="gradeA odd">{{appli.nomAppli}}</td>
                        <td class="gradeA odd"></td>
                        <td class="gradeA odd"></td>
                        <td class="gradeA odd"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <a role="button" data-toggle="collapse" data-parent="#accordionUtils" href="#collapseAppli" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="panel-title">Applications utilisées <div class="badge">{{service.listeAcces|length}}</div></h3>
                </a>
            </div>
        </div>
    </div>
    <div id="collapseAppli" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                    <tr>
                        <td class="row">Code Appli</td>
                        <td class="row">Libellé</td>
                    </tr>
                </thead>
                <tbody>
                    {% for appli in service.listeAcces %}
                    <tr>
                        <td class="gradeA odd">
                            <a href="{{ path('evpos_ficheAppli', { 'codeAppli': appli.appliAcces.codeAppli }) }}">
                            {{appli.appliAcces.codeAppli}}
                            </a>
                        </td>
                        <td class="gradeA odd">{{appli.appliAcces.nomAppli}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-group panel-default" id="accordionUtils" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordionUtils" href="#collapseUtil" aria-expanded="true" aria-controls="collapseOne">
            Liste des agents    
            <div class="badge">{{service.listeUtilisateurs|length}}</div>
            </a>
        </h3>
    </div>
    <div id="collapseUtil" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
               <thead>
                   <tr>
                       <td class="row">{{'utilisateur.matricule'|trans}}</td>
                       <td class="row">{{'utilisateur.nom'|trans}}</td>
                       <td class="row">{{'utilisateur.poste'|trans}}</td>
                   </tr>
               </thead>
                <tbody>
                   {% for util in service.listeUtilisateurs %}
                    <tr class="gradeA odd">
                        <td><a href="{{path('evpos_ficheUtil', {'matUtil': util.matUtil})}}">{{util.matUtil}}</a></td>
                        <td>{{util.nomUtil}}</td>
                        <td>
                        {% for poste in util.listePostes %}
                        {{poste.hostname}}
                        {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-group panel-default" id="accordionPoste" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordionPoste" href="#collapsePoste" aria-expanded="true" aria-controls="collapseOne">
            {{'poste.listeUsage'|trans}} 
            <div class="badge">{{service.listePostes|length}}</div>
            </a>
        </h3>
    </div>
    <div id="collapsePoste" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
               <thead>
                   <tr>
                       <td class="row">{{'poste.hostname'|trans}}</td>
                       <td class="row">{{'poste.utilisateurs'|trans}}</td>
                       <td class="row">{{'poste.categorie'|trans}}</td>
                       <td class="row">{{'poste.localisation'|trans}}</td>
                       <td class="row">{{'poste.commentaire'|trans}}</td>
                   </tr>
               </thead>
                <tbody>
                   {% for poste in service.listePostes %}
                    <tr class="gradeA odd">
                        <td>{{poste.hostname}}</td>
                        <td>
                            {% for util in poste.listeUtilisateurs %}
                            <a href="{{path('evpos_ficheUtil', {'matUtil': util.matUtil})}}">{{util.matUtil}}</a> : {{util.nomUtil}}
                            {% endfor %}
                        </td>
                        <td>{{poste.categorie}}</td>
                        <td>{{poste.localisation}}</td>
                        <td>{{poste.commentaire}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}
