{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Utilisateur {{util.matUtil}}{% endblock%}

{% block content %}
<h2>Utilisateur {{util.matUtil}}</h2>

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ 'utilisateur.infoAnnuaire'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3"><h4>{{ 'utilisateur.matricule'|trans }}</h4>{{util.matUtil}}</div>
            <div class="col-lg-3"><h4>{{ 'utilisateur.nom'|trans }}</h4>{{util.nomUtil}}</div>
            <div class="col-lg-3">
                <h4>{{ 'service.nom'|trans }}</h4>
                {% if util.serviceUtil %}
                <a href="{{ path('evpos_ficheService', { 'codeService' : util.serviceUtil.codeService }) }}">{{util.serviceUtil.libService}}</a>
                {% endif %}
            </div>
            <div class="col-lg-3">
                <h4>{{ 'direction.nom'|trans }}</h4>
                {% if util.serviceUtil %}
                <a href="{{path('evpos_ficheDirection', {'codeDirection': util.serviceUtil.direction.codeDirection})}}">
                {{util.serviceUtil.direction.libDirection }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'applications.listeUsage'|trans }}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr>
                    <td class="row" rowspan="2">{{ 'application.code'|trans }}</td>
                    <td class="row" rowspan="2">{{ 'application.nom'|trans }}</td>
                    <td class="row" colspan="3">{{ 'application.usage'|trans }}</td>
                </tr>
                <tr>
                    <td class="row">{{ 'application.accès'|trans }}</td>
                    <td class="row">{{ 'application.utilisation'|trans }}</td>
                    <td class="row">{{ 'application.validation'|trans }}</td>
                </tr>
            </thead>
            <tbody>
                {% for acces in util.listeAcces %}
                <tr>
                    <td class="gradeA odd">
                        <a href="{{ path('evpos_ficheAppli', { 'codeAppli': acces.appliAcces.codeAppli }) }}">
                            {{ acces.appliAcces.codeAppli }}
                        </a>
                    </td>
                    <td class="gradeA odd">{{ acces.appliAcces.nomAppli }}</td>
                    <td class="gradeA odd">{{ acces.sourceImport }}</td>
                    <td class="gradeA odd"></td>
                    <td class="gradeA odd"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'poste.listeUsage'|trans }}</h3>
    </div>
    <div class="panel-body">

    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'imprimante.listeUsage'|trans }}</h3>
    </div>
    <div class="panel-body">

    </div>
</div>
{%endblock%}
