{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'service.liste'|trans }}{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h4>{{ 'service.liste'|trans }}</h4>
    </div>
    <div class="col-lg-4">
        <a href="{{path('evpos_exportService')}}" class="btn btn-sm btn-default">{{'service.liste'|trans}}</a>
        <a href="{{path('evpos_exportServiceRiu')}}" class="btn btn-sm btn-default">{{'riu.liste'|trans}}</a>
    </div>
</div>
<script>
function showTodo() {
  $('#tabService').find('tbody').find('tr').show();
  $('#tabService').find('tbody').find('tr.done').hide();
}
function showAll() {
  $('#tabService').find('tbody').find('tr').show();
  $('#tabService').find('tbody').find('tr').show();
}
function showOk() {
  $('#tabService').find('tbody').find('tr').hide();
  $('#tabService').find('tbody').find('tr.done').show();
}

function showEnsembleTodo() {
  $('#tabService').find('tbody').find('tr').show();
  $('#tabService').find('tbody').find('tr.ensemble').hide();
}
function showEnsembleAll() {
  $('#tabService').find('tbody').find('tr').show();
}
function showEnsembleOk() {
  $('#tabService').find('tbody').find('tr').hide();
  $('#tabService').find('tbody').find('tr.ensemble').show();
}
</script>
    <table id="tabService" class="sortable table table-striped table-bordered table-hover dataTable no-footer">
        <thead>
            <tr>
                <td class="row">{{ 'direction.code'|trans }}</td>
                <td class="row">{{ 'direction.nom'|trans }}</td>
                <td class="row">{{ 'service.code'|trans }}</td>
                <td class="row">{{ 'service.codeSirh'|trans }}</td>
                <td class="row">{{ 'service.nom'|trans }}</td>
			          <td class="row">{{ 'riu.nom'|trans }}</td>
                <td class="row">{{ 'service.nbAgent'|trans }}</td>
                <td class="row">{{ 'service.nbAcces'|trans }}</td>
			          <td class="row">{{ 'service.nbAccesUo'|trans }}</td>
                <td class="row">{{ 'service.nbPoste'|trans}}</td>
                <td class="row">
                  {{ 'service.noteAvancement'|trans }}
                  <br>
                  <button type="button" onclick="showAll()" title="{{'app.all'|trans}}">
                    {{'app.all'|trans}}
                  </button>
                  <button type="button" onclick="showTodo()" title="{{'app.todo'|trans}}">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                  <button type="button" onclick="showOk()" title="{{'app.ok'|trans}}">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </td>
                <td class="row">
                  {{ 'service.numEnsemble'|trans }}
                  <br>
                  <button type="button" onclick="showEnsembleAll()" title="{{'app.all'|trans}}">
                    {{'app.all'|trans}}
                  </button>
                  <button type="button" onclick="showEnsembleTodo()" title="{{'app.todo'|trans}}">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                  <button type="button" onclick="showEnsembleOk()" title="{{'app.ok'|trans}}">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for service in listeService %}
            <tr class="gradeA odd {% if (service.noteAvancementMoca == "100" or service.nbAgent == 0) %}done{% endif %} {% if (service.numEnsemble != "" or service.numEnsemble != 0) %}ensemble{% endif %}">
                <td class="">
                  <a href="{{path('evpos_ficheDirection', {'codeDirection': service.direction.codeDirection})}}">
                    {{service.direction.codeDirection}}
                  </a>
                </td>
                <td class="">
                  <a href="{{path('evpos_ficheDirection', {'codeDirection': service.direction.codeDirection})}}">
                    {{service.direction.libDirection}}
                  </a>
                </td>
                <td class="">
                    {% if service.codeService != '' %}
                    <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                        {{service.codeService }}
                    </a>
                    {% endif %}
                </td>
                <td class="">
                    {% if service.codeSirh != '' %}
                    <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                        {{service.codeSirh }}
                    </a>
                    {% endif %}
                </td>
                <td class="">
                  <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                    {{service.libService }}
                  </a>
                </td>
			          <td class="">
                    <ul>
                    {% for riu in service.listeRiu %}
                        <li>{{ riu.nomUtil }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td class="">{{service.nbAgent}}</td>
                <td class="">{{service.nbAcces}}</td>
          			<td class="">{{service.nbAccesUo}}</td>
                <td>{{service.nbPoste}}</td>
                <td class="">
                    <progress value="{{ service.noteAvancementMoca }}" max="100" title="{{ service.noteAvancementMoca }}%">
                      {{ service.noteAvancementMoca }}
                    </progress>
                </td>
                <td>
                  {{service.numEnsemble}}
                  <a href="{{ path('evpos_update_service', { 'codeService' : service.codeService})}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}
