{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'service.liste'|trans }}{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h4>{{ 'service.liste'|trans }}</h4>
    </div>
    <div class="col-lg-4">
        <a href="{{path('evpos_exportService')}}" class="btn btn-sm btn-default">{{'service.liste'|trans}}</a>
        <a href="{{path('evpos_exportServiceRiu')}}" class="btn btn-sm btn-default">{{'riu.liste'|trans}}</a>
    </div>
</div>
    <ul>
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr>
                    <td class="row">{{ 'direction.nom'|trans }}</td>
                    <td class="row">{{ 'service.code'|trans }}</td>
                    <td class="row">{{ 'service.nom'|trans }}</td>
					          <td class="row">{{ 'riu.nom'|trans }}</td>
                    <td class="row">{{ 'service.nbAgent'|trans }}</td>
                    <td class="row">{{ 'service.nbAcces'|trans }}</td>
					          <td class="row">{{ 'service.nbAccesUo'|trans }}</td>
                    <td class="row">{{ 'service.noteAvancement'|trans }}</div>
                </tr>
            </thead>
            <tbody>
                {% for service in listeService %}
                <tr class="gradeA odd">
                    <td class=""><a href="{{path('evpos_ficheDirection', {'codeDirection': service.direction.codeDirection})}}">{{service.direction.libDirection}}</a></td>
                    <td class="">
                        {% if service.codeService != '' %}
                        <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                            {{service.codeService }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="">
                      <a href="{{ path('evpos_ficheService', { 'codeService' : service.codeService }) }}">
                        {{service.libService }}</td>
                      </a>
					          <td class="">
                        <ul>
                        {% for riu in service.listeRiu %}
                            <li>{{ riu.nomUtil }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td class="">{{service.nbAgent}}</td>
                    <td class="">{{service.nbAcces}}</td>
					<td class="">{{service.nbAccesUo}}</td>
                    <td class="">
                        <progress value="{{ service.noteAvancementMoca }}" max="100" title="{{ service.noteAvancementMoca }}%"></progress>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
{%endblock%}
