{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'poste.liste'|trans }}{% endblock%}

{% block content %}
<h4>{{ 'poste.liste'|trans }}</h4>
<table class="table table-striped table-bordered table-hover dataTable no-footer">
    <thead>
        <tr>
            <td class="row">{{ 'poste.codeMateriel'|trans }}</td>
            <td class="row">{{ 'poste.hostname'|trans }}</td>
            <td class="row">{{ 'poste.type'|trans }}</td>
        </tr>
    </thead>
    <tbody>
        {% for poste in listePoste %}
        <tr class="gradeA odd">
            <td class="">{{util.codeMateriel }}</a></td>
            <td class="">{{util.hostname }}</a></td>
            <td class="">{{util.type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}
