{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'utilisateur.liste'|trans }}{% endblock%}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'utilisateur.liste'|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
          <table class="table table-striped table-bordered table-hover dataTable no-footer">
              <thead>
                  <tr>
                      <td class="row">{{ 'utilisateur.matricule'|trans }}</td>
                      <td class="row">{{ 'utilisateur.nom'|trans }}</td>
                      <td class="row">{{ 'service.nom'|trans }}</td>
                      <td class="row">{{ 'utilisateur.nbAcces'|trans }}</td>
                      <td class="row">{{ 'utilisateur.lastLogin'|trans }}</td>
                  </tr>
              </thead>
              <tbody>
                  {% for util in listeUtil %}
                  <tr class="gradeA odd">
                      <td class=""><a href="{{path('evpos_ficheUtil', {'matUtil': util.matUtil})}}">{{util.matUtil }}</a></td>
                      <td class="">{{util.nomUtil }}</td>
                      <td class="">
                          {% if util.serviceUtil %}
                          <a href="{{ path('evpos_ficheService', { 'codeService' : util.serviceUtil.codeService }) }}">
                              {{util.serviceUtil.libService }}
                          </a>
                          {% endif %}
                      </td>
                      <td class=""> {{util.nbAcces }}</td>
                      <td class=""> {{util.lastLogin|date("d/m/Y") }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% if nbPages > 1 %}
          <nav>
              <ul class="pagination">
                  {% for p in range(1, nbPages) %}
                  <li {% if p == page %}class="active"{% endif %}><a href="{{ path('evpos_listeUtil', {'page': p}) }}">{{p}}</a></li>
                  {% endfor %}
              </ul>
          </nav>
          {% endif %}
        </div>
      </div>
</div>
{%endblock%}
