{% extends "EVPOSaffectationBundle::layout.html.twig" %} {% block title%}Suivi de la migration MOCA{% endblock%} {% block content %}
<div class="row">
    <div class="col-lg-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'app.etat'|trans }}</h3>
            </div>
            <div class="panel-body">
                <p>Environnement {{ app.environment }}.</p>
                {% if app.user %}
                <p>Connecté en tant que {{ app.user }}</p>
                {% endif %}
                <a href="{{ path('logout') }}" class="btn"></a>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <h3>{{ 'app.slogan'|trans }}</h3>
        <h4>Organisation des données</h4>
        <p>Les données sont réparties en trois catégories :</p>
        <ul>
            <li><b>Annuaire</b> : informations relatives aux directions, services et utilisateurs (source : BAZA)</li>
            <li><b>Patrimoine</b> : informations relatives aux applications et UO à migrer dans MOCA (source : SUAPP)</li>
            <li><b>Usage</b> : informations relatives à l'usage des applications (source : GAP pour les accès applicatifs, intgération d'informations Nexthink à venir)</li>
        </ul>
    </div>
</div>
{%endblock%}
