{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
{%
  set couleurs = {
    "4. Abandonnée" : "#555",
    "1. Pas initiée" : "#A00",
    "2. En cours" : "Gold",
    "3. Validé" : "#0F0",
    "4. En production" : "#0A0"
  }
%}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
var couleur = {
  {% for etat, couleur in couleurs %}
    '{{etat}}' : '{{couleur}}',
  {% endfor %}
};
</script>

<div class="row">
  <div class="col-lg-5">
    <h2>Postes</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nombre de postes</h3>
      </div>
      <div class="panel-body">
        <table width="100%">
          <tr>
            <th>Type</th>
            <th>Nombre</th>
          </tr>
          <tr>
            <td>Nombre postes total</td>
            <td>{{nbPoste}}</td>
          </tr>
          <tr>
            <td>Postes à migrer (sauf hors scope)</td>
            <td>{{nbPosteAMigrer}}</td>
          </tr>
          <tr>
            <td>Postes migrés sous MOCA</td>
            <td>{{nbPosteMoca}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Avancement de la migration MOCA</h3>
      </div>
      <div class="panel-body">
        <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {

          var data = google.visualization.arrayToDataTable([
            ['Etat', 'Nombre de postes'],
            {% for avancement in nbPosteAvancement %}
            ['{{avancement.avancementMigMoca}}',     {{avancement.nb}}],
            {% endfor %}
          ]);

          var options = {
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart_etat_migration'));

          chart.draw(data, options);

          var data = google.visualization.arrayToDataTable([
            ['Date', 'MOCA', 'A migrer'],
            {% for ligne in evolutionNbPoste %}
            ['{{ligne.dateMesure|date("d/m/Y")}}',  {{ligne.nbMoca}},  {{ligne.nbTodo}}],
            {% endfor %}
          ]);

          var options = {
            vAxis: {minValue: 0}
          };

          var chart = new google.visualization.LineChart(document.getElementById('histoNbPoste'));
          chart.draw(data, options);
        }
        </script>
        <div id="piechart_etat_migration" style="width: 100%; height: 300px;"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Avancement migration des postes</h3>
      </div>
      <div class="panel-body">
        <progress value="{{nbPosteMoca}}" max="{{nbPosteAMigrer}}" title="{{(nbPosteMoca/nbPosteAMigrer*100)|round}}%" width="100%">{{(nbPosteMoca/nbPosteAMigrer*100)|round}}%</progress>
        <p>{{nbPosteMoca}} postes migrés sur {{nbPosteAMigrer}}, soit {{(nbPosteMoca/nbPosteAMigrer*100)|round}}%</p>

        <div id="histoNbPoste" style="width: 100%; height: 200px;"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordionMaster" href="#collapseMaster" aria-expanded="false" aria-controls="collapseOne">
            Répartition par master
          </a>
        </h3>
      </div>
      <div id="collapseMaster" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table width="100%" class="sortable">
            <tr>
              <th>Master</th>
              <th>Nombre de postes</th>
              <th></th>
            </tr>
            {% for ligne in nbPosteMaster %}
            <tr>
              <td>{{ligne.master}}</td>
              <td>{{ligne.nb}}</td>
              <td><progress value={{ligne.nb}} max={{nbPoste}} title="{{(ligne.nb/nbPoste*100)|round}}%"></progress></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordionUsage" href="#collapseUsage" aria-expanded="false" aria-controls="collapseOne">
            Répartition par type d'usage
          </a>
        </h3>
      </div>
      <div id="collapseUsage" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table width="100%" class="sortable">
            <thead>
              <tr>
                <th>Type d'usage</th>
                <th>Nombre de poste</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for ligne in nbPosteUsage %}
              <tr>
                <td>{{ligne.typeUsage}}</td>
                <td>{{ligne.nb}}</td>
                <td>
                  <progress value="{{ligne.nb}}" max="{{nbPosteAMigrer}}"></progress>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-7">
    <h2>Applications</h2>

    <h3>Applications informatiques <div class="badge">{{nbUoAI.nb}}</div></h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Avancement général</h4>
      </div>
      <div class="panel-body">
        <canvas id="avancementAI" width="410" height="60">
          Votre navigateurs ne supporte pas Canvas.
        </canvas>
        <script>
        var start = 0;
        var c = document.getElementById("avancementAI");
        var ctx = c.getContext("2d");
        ctx.strokeStyle = "LightGrey";
        ctx.textAlign = "center";
        for (i=1; i<=40; i++) {
          ctx.beginPath();
          ctx.moveTo(i*10,0);
          ctx.lineTo(i*10,45);
          ctx.stroke();
        }
        for (i=1; i<=4; i++) {
          ctx.beginPath();
          ctx.moveTo(i*100,0);
          ctx.lineTo(i*100,50);
          ctx.stroke();
          ctx.strokeText(i*100, i*100, 60);
        }
        ctx.textBaseline = "middle";
        ctx.strokeStyle = "Black";
        ctx.globalAlpha = 0.75;
        </script>
        <table class="sortable" width="100%">
          <tr>
            <th colspan="2">Avancement</th>
            <th>Nb UO</th>
            <th>%</th>
          </tr>
          {% for ligne in avancementUoAI%}
          <tr>
            <td style="background-color: {{couleurs[ligne.avancementMoca]}}" width="2em">
              &nbsp;&nbsp;&nbsp;
            </td>
            <td>
              &nbsp;
              {{ligne.avancementMoca}}
            </td>
            <td>{{ligne.nb}}</td>
            <td>
              <progress value="{{ligne.nb}}" max="{{nbUoAI.nb}}" title="{{(ligne.nb/nbUoAI.nb*100)|round}}%">
                {{ligne.nb}}
              </progress>
            </td>
          </tr>
          <script>
          ctx.beginPath();
          ctx.moveTo(start,0);
          ctx.lineTo(start+{{ligne.nb}},0);
          ctx.lineTo(start+{{ligne.nb}},40);
          ctx.lineTo(start,40);
          ctx.closePath();
          ctx.fillStyle = couleur["{{ligne.avancementMoca}}"];
          ctx.fill();
          ctx.strokeText('{{ligne.avancementMoca}}', (2*start+{{ligne.nb}})/2, 20);
          start += {{ligne.nb}};
          </script>
          {% endfor %}
        </table>
        <script type="text/javascript">
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Date',  'En production', 'Validée', 'En cours', 'Pas initiée'],
              {% for key, ligne in evolutionAiGen %}
              ['{{ key }}', {{ligne['4. En production']}}, {{ligne['3. Validé']}}, {{ligne['2. En cours']}}, {{ligne['1. Pas initiée']}}],
              {% endfor %}
            ]);

            var options = {
              vAxis: {title: 'Nombre d\'UO en cours de migration'},
              isStacked: true,
              colors: [couleur['4. En production'], couleur['3. Validé'], couleur['2. En cours'], couleur['1. Pas initiée']],
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('chartAI'));

            chart.draw(data, options);
          }
        </script>
        <div id="chartAI" style="width: 100%; height: 200px;"></div>
      </div>
    </div>
    <div class="panel panel-group panel-default" id="accordionAI" role="tablist" aria-multiselectable="true">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordionAI" href="#collapseAI" aria-expanded="false" aria-controls="collapseOne">
            Avancement détaillé
          </a>
        </h3>
      </div>
      <div id="collapseAI" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="sortable" width="100%">
            <thead>
              <tr>
                <th>Etat</th>
                <th>Nb</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              {% for etat in avancementUoAIDetail %}
              <tr>
                <td>{{etat.avancementMocaDetail}}</td>
                <td>{{etat.nb}}</td>
                <td>
                  <progress value="{{etat.nb}}" max="{{nbUoAI.nb}}" title="{{(etat.nb / nbUoAI.nb * 100)|round}}%">
                    {{etat.nb / nbUoAI.nb}}
                  </progress>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h3>Applications service <div class="badge">{{nbUoAS.nb}}</div></h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Avancement général</h3>
      </div>
      <div class="panel-body">
        <canvas id="avancementAS" width="410" height="60">
          Votre navigateurs ne supporte pas Canvas.
        </canvas>
        <script>
        var start = 0;
        var c = document.getElementById("avancementAS");
        var ctx = c.getContext("2d");
        ctx.textBaseline = "bottom";
        ctx.strokeStyle = "LightGrey";
        ctx.textAlign = "center";
        ctx.textBaseline = "bottom";
        for (i=1; i<=4; i++) {
          ctx.beginPath();
          ctx.moveTo(i*100,0);
          ctx.lineTo(i*100,50);
          ctx.stroke();
          ctx.strokeText(i*100, i*100, 60);
        }
        for (i=1; i<=40; i++) {
          ctx.beginPath();
          ctx.moveTo(i*10,0);
          ctx.lineTo(i*10,45);
          ctx.stroke();
        }
        ctx.textBaseline = "middle";
        ctx.strokeStyle = "Black";
        ctx.globalAlpha = 0.75;
        </script>
        <table class="sortable" width="100%">
          <tr>
            <th colspan="2">Avancement</th>
            <th>Nb UO</th>
            <th>%</th>
          </tr>
          {% for ligne in avancementUoAS%}
          <tr>
            <td style="background-color: {{couleurs[ligne.avancementMoca]}}" width="2em">
              &nbsp;&nbsp;&nbsp;
            </td>
            <td>
              &nbsp;
              {{ligne.avancementMoca}}
            </td>
            <td>{{ligne.nb}}</td>
            <td>
              <progress value="{{ligne.nb}}" max="{{nbUoAS.nb}}"
                        title="{{(ligne.nb/nbUoAS.nb*100)|round}}%">
                {{ligne.nb}}
              </progress>
            </td>
          </tr>
          <script>
          ctx.beginPath();
          ctx.moveTo(start,0);
          ctx.lineTo(start+{{ligne.nb}},0);
          ctx.lineTo(start+{{ligne.nb}},40);
          ctx.lineTo(start,40);
          ctx.closePath();
          ctx.fillStyle = couleur["{{ligne.avancementMoca}}"];
          ctx.fill();
          ctx.strokeText('{{ligne.avancementMoca}}', (2*start+{{ligne.nb}})/2, 20);
          start += {{ligne.nb}};
          </script>
          {% endfor %}
        </table>
        <script type="text/javascript">
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Date',  'En production', 'Validée', 'En cours', 'Pas initiée'],
              {% for key, ligne in evolutionAsGen %}
              ['{{ key }}', {{ligne['4. En production']}}, {{ligne['3. Validé']}}, {{ligne['2. En cours']}}, {{ligne['1. Pas initiée']}}],
              {% endfor %}
            ]);

            var options = {
              vAxis: {title: 'Nombre d\'UO en cours de migration'},
              isStacked: true,
              colors: [couleur['4. En production'], couleur['3. Validé'], couleur['2. En cours'], couleur['1. Pas initiée']],
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('chartAS'));

            chart.draw(data, options);
          }
        </script>
        <div id="chartAS" style="width: 100%; height: 200px;"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordionAS" href="#collapseAS" aria-expanded="false" aria-controls="collapseOne">
            Avancement détaillé
          </a>
        </h3>
      </div>
      <div id="collapseAS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <table class="sortable" width="100%">
            <thead>
              <tr>
                <th>Etat</th>
                <th>Nb</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              {% for etat in avancementUoASDetail %}
              <tr>
                <td>{{etat.avancementMocaDetail}}</td>
                <td>{{etat.nb}}</td>
                <td>
                  <progress value="{{etat.nb}}" max="{{nbUoAS.nb}}" title="{{(etat.nb / nbUoAS.nb * 100)|round}}%">
                    {{etat.nb / nbUoAS.nb}}
                  </progress>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Utilisateurs, services et Directions</h2>
    {{ nbUtil }}, répartis dans {{nbService}} services et {{nbDirection}} directions
  </div>
</div>

{%endblock%}

{% block javascripts %}
{% endblock %}
