{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <h2>Services / Directions</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre de directions</h3>
            </div>
            <div class="panel-body">
            <div id="graph_nature_appli">
            {{nbDirection}}
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre de services</h3>
            </div>
            <div class="panel-body">
            <div id="graph_nature_appli">
            {{nbService}}
            </div>
            </div>
        </div>

        <h2>Utilisateurs</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre d'utilisateurs</h3>
            </div>
            <div class="panel-body">
                <p>{{ nbUtil }}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>Postes</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre de postes</h3>
            </div>
            <div class="panel-body">
                {{nbPoste}}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Répartition par type d'usage</h3>
            </div>
            <div class="panel-body">
                <table>
                    <thead>
                        <tr>
                            <th>Type d'usage</th>
                            <th>Nombre de poste</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ligne in nbPosteUsage %}
                    <tr>
                        <td>{{ligne.typeUsage}}</td>
                        <td>{{ligne.nb}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>Applications</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Répartition par nature application</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {% for nb in nbAppli %}
                    <li>{{ nb.natAppli }} {{nb.nb }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <h2>Accès applicatifs</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre d'accès applicatifs enregistrés</h3>
            </div>
            <div class="panel-body">
                <p>{{ nbAccesUtilAppli }}</p>
            </div>
        </div>

        <h2>Intégration</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Avancement de l'intégration des applications</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {% for nature in avancementNature %}

                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>



{%endblock%}

{% block javascripts %}
{% endblock %}
