{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}Suivi de la migration MOCA{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        <h2>Services / Directions</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre de directions</h3>
            </div>
            <div class="panel-body">
            <div id="graph_nature_appli">
            {{nbDirection}}
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre de services</h3>
            </div>
            <div class="panel-body">
            <div id="graph_nature_appli">
            {{nbService}}
            </div>
            </div>
        </div>

        <h2>Utilisateurs</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre d'utilisateurs</h3>
            </div>
            <div class="panel-body">
                <p>{{ nbUtil }}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <h2>Postes</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nombre de postes</h3>
            </div>
            <div class="panel-body">
                <table width="100%">
                  <tr>
                    <th>Type</th>
                    <th>Nombre</th>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{nbPoste}}</td>
                  </tr>
                  <tr>
                    <td>Postes à migrer (sans les écoles, BICOM et les Macintosh)</td>
                    <td>{{nbPosteAMigrer}}</td>
                  </tr>
                  <tr>
                    <td>MOCA</td>
                    <td>{{nbPosteMoca}}</td>
                  </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Avancement migration des postes</h3>
          </div>
          <div class="panel-body">
            <progress value="{{nbPosteMoca}}" max="{{nbPosteAMigrer}}" title="{{(nbPosteMoca/nbPosteAMigrer*100)|round}}%" width="100%">{{(nbPosteMoca/nbPosteAMigrer*100)|round}}%</progress>
            <p>{{nbPosteMoca}} postes migrés sur {{nbPosteAMigrer}}, soit {{(nbPosteMoca/nbPosteAMigrer*100)|round}}%</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Répartition par master</h3>
          </div>
          <div class="panel-body">
            <table width="100%" class="sortable">
              <tr>
                <th>Master</th>
                <th>Nombre de postes</th>
                <th></th>
              </tr>
              {% for ligne in nbPosteMaster %}
              <tr>
                <td>{{ligne.master}}</td>
                <td>{{ligne.nb}}</td>
                <td><progress value={{ligne.nb}} max={{nbPoste}} title="{{(ligne.nb/nbPoste*100)|round}}%"></progress></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Répartition par type d'usage</h3>
            </div>
            <div class="panel-body">
                <table width="100%" class="sortable">
                    <thead>
                        <tr>
                            <th>Type d'usage</th>
                            <th>Nombre de poste</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ligne in nbPosteUsage %}
                    <tr>
                        <td>{{ligne.typeUsage}}</td>
                        <td>{{ligne.nb}}</td>
                        <td><progress value="{{ligne.nb}}" max="{{nbPosteAMigrer}}"></progress></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h2>Applications</h2>

        <h2>Intégration des UO</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">UO des AI</h3>
            </div>
            <div class="panel-body">
                <canvas id="avancementAI" width="400" height="50">
                  Votre navigateurs ne supporte pas Canvas.
                </canvas>
                <script>
                var start = 0;
                var c = document.getElementById("avancementAI");
                var ctx = c.getContext("2d");
                var couleur = {"1. Pas initiée" : "Gainsboro", "2. En cours" : "Gold", "3. Validé" : "Lime"};
                ctx.strokeStyle = "Black";
                ctx.textAlign = "center";
                ctx.textBaseline = "middle";
                ctx.font = "8pt";
                </script>
                <table class="sortable" width="100%">
                  <tr>
                    <th>Avancement</th>
                    <th>Nb UO</th>
                    <th>%</th>
                  </tr>
                {% for ligne in avancementUoAI%}
                <ul>
                  <tr>
                    <td>{{ligne.avancementMoca}}</td>
                    <td>{{ligne.nb}}</td>
                    <td>
                      <progress value="{{ligne.nb}}" max="{{nbUoAI.nb}}" title="{{ligne.nb/nbUoAI.nb*100|round}}%">{{ligne.nb}}</progress>
                    </td>
                  </tr>
                </ul>
                <script>
                  ctx.beginPath();
                  ctx.moveTo(start,0);
                  ctx.lineTo(start+{{ligne.nb}},0);
                  ctx.lineTo(start+{{ligne.nb}},50);
                  ctx.lineTo(start,50);
                  ctx.closePath();
                  ctx.fillStyle = couleur["{{ligne.avancementMoca}}"];
                  ctx.fill();
                  ctx.strokeText('{{ligne.avancementMoca}}', (2*start+{{ligne.nb}})/2, 25);
                  start += {{ligne.nb}};
                  </script>
                </script>
                {% endfor %}
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">UO des AS</h3>
            </div>
            <div class="panel-body">
              <canvas id="avancementAS" width="400" height="50">
                Votre navigateurs ne supporte pas Canvas.
              </canvas>
              <script>
              var start = 0;
              var c = document.getElementById("avancementAS");
              var ctx = c.getContext("2d");
              ctx.strokeStyle = "Black";
              ctx.textAlign = "center";
              ctx.textBaseline = "middle";
              ctx.font = "8pt";
              </script>
              <table class="sortable" width="100%">
                <tr>
                  <th>Avancement</th>
                  <th>Nb UO</th>
                  <th>%</th>
                </tr>
              {% for ligne in avancementUoAS%}
                <tr>
                  <td>{{ligne.avancementMoca}}</td>
                  <td>{{ligne.nb}}</td>
                  <td>
                    <progress value="{{ligne.nb}}" max="{{nbUoAS.nb}}" title="{{ligne.nb/nbUoAS.nb*100|round}}%">{{ligne.nb}}</progress>
                  </td>
                </tr>
                <script>
                  ctx.beginPath();
                  ctx.moveTo(start,0);
                  ctx.lineTo(start+{{ligne.nb}},0);
                  ctx.lineTo(start+{{ligne.nb}},50);
                  ctx.lineTo(start,50);
                  ctx.closePath();
                  ctx.fillStyle = couleur["{{ligne.avancementMoca}}"];
                  ctx.fill();
                  ctx.strokeText('{{ligne.avancementMoca}}', (2*start+{{ligne.nb}})/2, 25);
                  start += {{ligne.nb}};
                  </script>
                </script>
              {% endfor %}
              </table class="sortable">
            </div>
        </div>
    </div>
</div>

{%endblock%}

{% block javascripts %}
{% endblock %}
