{% extends "EVPOSaffectationBundle::layout.html.twig" %}
{% block title%}{{ 'silo.liste'|trans }}{% endblock%}

{% block content %}
<h4>{{ 'silo.liste'|trans }}</h4>
<table class="table table-striped table-bordered table-hover dataTable no-footer sortable">
  <thead>
    <tr>
      <th class="row">{{ 'uo.nom'|trans }}</th>
      {% for silo in listeSilo %}
      <th class="row">{{silo.idSilo}} <br> {{ silo.nomSilo}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for uo in listeUo %}
    <tr>
      <td>
        <a href="{{path('evpos_ficheUo', {'codeUo': uo.codeUo})}}" title="{{uo.nomUo}}">{{uo.codeUo}}</a>
      </td>
      {% for silo in listeSilo %}
      <td></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
